body {
  font-family: "Fjalla One", sans-serif;
  margin: 0;
}

.main-nav {
  width: 100%;
  background-color: #2d6b2c;
  background-size: auto auto; 
  min-height: 50px;
  top: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
  position: fixed; 
}

.main-logo {
  margin-top: 10px;
  margin-left: 20px;
  max-height: 100px;
  max-width: 200px;
}

.form-container {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
  min-height: 600px;
  min-width: 100px;
  max-width: 500px;
  padding-top: 10px;
  padding-bottom: 25px; 
}

.form-header {
  text-align: center;
}

.input-container {
  display: block;
  width: 75%;
  border-radius: 5px;
  height: 30px;
  padding-left: 25px;
  border-style: none;
  background: #dbdbdb;
  margin-left: auto;
  margin-right: auto;
  outline: none; 
}

select.input-container {
  display: block;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  height: 35px;
  border-style: none;
  background: #dbdbdb;
  margin-left: auto;
  margin-right: auto;
  
}

.input-container:focus {
  box-shadow: inset 2px 4px 5px -4px rgba(0,0,0,0.75);
}

.form-container > textarea {
  height: 100px;
}

.form-labels {
  width: 75%;
  margin-top: 25px;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 45px;
  width: 200px;
  border-style: none;
  background-color: #2d6b2c;
  color: white;
  box-shadow: 0px 3px 1px #235021;
  outline: none
}

.form-button:hover { 
  background-color: #2c802a; 
  box-shadow: 0px 1px 1px #235021;
}

.form-button:focus { 
  box-shadow: inset 2px 4px 5px -4px rgba(0,0,0,0.75);
}

.article-main {
  margin-top: 100px; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
  max-width: 100%;
  max-height: 500px;
}

.article-par {
  text-align: center;
  max-width: 300px;
  overflow: hidden;
  font-size: 14px; 
}

.article-title {
  text-align: center;
}

hr {
  max-width: 300px;
  border-color: #2d6b2c;
  margin-bottom: 20px;
}

.product-button { 
  display: block;  
  background-image: linear-gradient(90deg,  white 60%,  #2d6b2c 40%); 
  color: white; 
  text-transform: capitalize;
  border-radius: 10px;
  min-width: 225px;
  max-height: 75px;
  min-height: 40px;
  box-shadow: 0px 2px 1px #235021;
  text-align: right;
  font-size: 12px;
  margin-right: 8px; 
  margin-left: 8px;
  margin-top: 10px; 
  margin-bottom: 20px; 
  border-color: #2d6b2c; 
  border-style: solid; 
}

.product-button:focus { 
  outline-style: none;
}

.product-button:hover { 
  box-shadow: 0px 0px 0px #2c802a;
  background-image: linear-gradient(90deg,  white 60%,  #2c802a 40%);
  border-color: #2c802a; 
  border-style: solid; 
}

.button-section { 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: auto; 
  margin-left: auto; 
}

.category-items { 
  font-size: 12px;
  letter-spacing: .05em; 
  max-width: 175px;
  word-wrap: break-word;
  padding-left: 2px;
}

.category-hr { 
  width: 75%; 
  margin-top: 10px; 
  border-style: dotted;
}

.thankyou { 
  text-align: center;
  font-size: 25px;
  margin-bottom: 2px;
}

.thankyou > h1 { 
  margin-bottom: 0px;
}

.thankyou > h3 {
  margin-top: 1px;
}

.warning { 
  font-size: 10px;
  color: red;
}

.example { 
  font-size: 12px;
  color: gray;
}

footer { 
  margin-top: 25px; 
  min-height: 50px; 
}